.ticker-wrapper {
  overflow: hidden;
  background: linear-gradient(90deg, var(--dark), #050505);
  padding: 20px 0;
  position: relative;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: scrollTicker 30s linear infinite;
}

.ticker-track p {
  white-space: nowrap;
  margin: 0 40px;
  font-weight: 700;
  color: var(--light);
  font-size: 1rem;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 900px) {
  .ticker-track p {
    font-size: 0.9rem;
    margin: 0 20px;
  }
}